<% @conversation.messages.order(created_at: :desc).each do |message| %>
  <% if message.booking.present? %>
    <% if message.booking.booking_statuses.where("created_at = ?", message.created_at).last.status == "pending" %>
      <p class="text-center">Demande envoyée le <%= message.created_at.strftime("%d/%m/%Y") %></p>
      <hr >
      <% if message.booking.booking_statuses.last.status == "pending" && @conversation.lender_id == @current_user.id %>
        <div class="container border pt-3 pb-3 mb-3">
          <%= render partial: 'conversations/form', locals: {message: message} %>
        </div>
      <% end %>
    <% elsif message.booking.booking_statuses.where("created_at = ?", message.created_at).last.status == "accepted" %>
      <p class="text-center">Demande acceptée le <%= message.created_at.strftime("%d/%m/%Y") %></p>
      <hr >
    <% elsif message.booking.booking_statuses.where("created_at = ?", message.created_at).last.status == "refused" %>
      <p class="text-center">Demande refusée le <%= message.created_at.strftime("%d/%m/%Y") %></p>
      <hr >
    <% end %>
  <% end %>
  <% unless message.body.nil? %>
    <div class="container border mb-5 <%= 'bg-light' if message.user == @current_user %>">
      <div class="media mt-3 pl-3 pr-3">
        <% if message.user != @current_user %>
          <%= image_tag message.user.avatar.url(:thumb), class: "align-self-start mr-3 rounded-circle" %>
        <% end %>
        <div class="media-body">
          <h5 class="mt-0"><%= message.user.full_name %> a écrit :</h5>
          <p>"<%= @full_sanitizer.sanitize(message.body) %>"</p>
          <p>le <%= message.created_at.strftime("%d/%m/%Y") %></p>
        </div>
        <% if message.user == @current_user %>
          <%= image_tag message.user.avatar.url(:thumb), class: "ml-3 rounded-circle" %>
        <% end %>
      </div>
    </div>
  <% end %>
<% end %>
