<% @listings.each_slice(3) do |listings| %>
  <div class="card-deck" style="margin-bottom: 15px">
    <% listings.each do |listing| %>
    <div class="card card-inverse" style="max-width: 22rem;">
      <div class="card-header">
        <%= listing.title %>
      </div>
      <% if listing.bike.photos.present? %>
        <%= image_tag listing.bike.photos.first.attachment.url(:medium), class: "card-img-top" %>
      <% end %>
      <div class="card-body">
        <p class="card-text">
          Taille : <%= listing.bike.size %><br >
          Lumières : <%= listing.bike.lights ? "Oui" : "Non" %>
        </p>
        <%= link_to "Aperçu", web_listing_path(listing), class: "card-link" %>
        <%= link_to "Réserver", new_listing_booking_path(listing), class: "card-link" %>
      </div>
    </div>
    <% end %>
  </div>
<% end %>
