<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col main pt-5 mt-3">
      <%= devise_error_messages! %>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

        <div class="form-group">
          <%= f.label "Prénom" %><br />
          <%= f.text_field :firstname, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Nom" %><br />
          <%= f.text_field :lastname, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Adresse e-mail" %><br />
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <div class="form-group">
          <%= f.label "Mot de passe" %><br />
          <%= f.password_field :password, autocomplete: "off", class: "form-control" %>
        </div>

        <%= f.submit "Inscription", class:"btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
