<hr />
<div class="form-group">
    <label>Titre :</label>
    <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
    <label>Description :</label>
    <%= f.cktext_area :description, :class => "form-control", ckeditor: { language: 'fr'} %>
</div>

<br >
<h3>Le vélo</h1>
<hr />

<%= f.fields_for :bike do |bike_form| %>
<div class="form-group">
    <label>Photo :</label>
    <%= bike_form.file_field :photo, class: "form-control-file" %>
</div>
<div class="form-check">
    <label class="form-check-label">
        <%= bike_form.check_box :lights, class: "form-check-input" %> Lumières
    </label>
</div>
<br>

<div class="row">
    <div class="col-sm-5">
        <label>Taille :</label>
        <%= bike_form.select(:size, Bike.sizes.keys, {prompt: 'Choisissez'}, {class: "form-control"})%>
    </div>
</div>
<% end %>

<br >
<h3>Point de collecte</h1>
<hr />

<label>Adresse :</label>
<%= f.fields_for :location do |location_form| %>
<div class="row">
    <div class="col-sm-3">
        <%= location_form.text_field :street_number, class: "form-control", placeholder: "Numéro"%>
    </div>
    <div class="col-sm-6">
        <%= location_form.text_field :route, class: "form-control", placeholder: "Rue"%>
    </div>
</div>
<br >
<div class="row">
    <div class="col-sm-3">
        <%= location_form.text_field :locality, class: "form-control", placeholder: "Ville"%>
    </div>
    <div class="col-sm-3">
        <%= location_form.text_field :postal_code, class: "form-control", placeholder: "Code postal"%>
    </div>
    <div class="col-sm-3">
      <%= location_form.country_select :country_code, {include_blank: 'Choisissez un pays'}, {class: "form-control"} %>
    </div>
</div>
<% end %>
<br>
