<div class="card card-default card-body">
    <ul id="tabsJustified" class="nav nav-tabs nav-justified">
        <li class="nav-item">
            <a class="nav-link active" href="" data-target="#tab1" data-toggle="tab">Description</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" data-target="#tab2" data-toggle="tab">Tarif</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="" data-target="#tab3" data-toggle="tab">Disponibilité</a>
        </li>
    </ul>
    <!--/tabs-->
    <br>
    <div id="tabsJustifiedContent" class="tab-content">
        <div class="tab-pane active" id="tab1">
          <div class="row">
              <div class="col-sm-5" style="margin-bottom: 15px">
                <div class="card">
                  <%= image_tag @listing.bike.photo.url(:medium), class: "card-img-top" %>
                  <div class="card-body">
                    <h4 class="card-title"><%= @listing.title %></h4>
                    <p class="card-text"><%= sanitize(@listing.description) %></p>
                  </div>
                  <ul class="list-group list-group-flush">
                    <li class="list-group-item">Taille : <%= @listing.bike.size.humanize if @listing.bike.size.present? %></li>
                    <li class="list-group-item">Lumières : <%= @listing.bike.lights ? "Oui" : "Non" %></li>
                    <!--<li class="list-group-item">Statut de l'annonce : <%= @listing.listed ? "Publiée" : "Désactivée" %></li>-->
                  </ul>
                </div>
              </div>
              <div class="col-sm-7">
                <div id="map" class="float-right img-responsive img-rounded"></div>
              </div>
          </div>
        </div>
        <%= render 'listings/listing_details_pricing' %>
        <div class="tab-pane" id="tab3">
            <div class="list-group">
              <% if @listing.availability.present? %>
                <li class="list-group-item"><span class="float-right label label-info label-pill"><%= @listing.availability.advance_notice %></span>Délai de réservations :</li>
                <li class="list-group-item"><span class="float-right label label-info label-pill"><%= @listing.availability.minimum_rental %> jour(s)</span>Durée minimum de location :</li>
                <li class="list-group-item"><span class="float-right label label-info label-pill"><%= @listing.availability.maximum_rental %> jour(s)</span>Durée maximum de location :</li>
                <li class="list-group-item"><span class="float-right label label-info label-pill"><%= @listing.availability.pickup_time %></span>Heure de réception :</li>
                <li class="list-group-item"><span class="float-right label label-info label-pill"><%= @listing.availability.dropoff_time %></span>Heure de dépôt :</li>
              <% end %>
            </div>
        </div>
    </div>
    <!--/tabs content-->
</div><!--/card-->
