<div class="tab-pane" id="tab2">
  <ul class="list-group">
    <% if @listing.pricing.present? %>
      <li class="list-group-item"><span class="float-right label label-info label-pill"><%= @listing.pricing.base_price %> <%= @listing.pricing.currency %></span> Prix par jour :</li>
      <li class="list-group-item">
        <span class="float-right label label-info label-pill"><%= @listing.pricing.average_weekly.round %> <%= @listing.pricing.currency %></span> Prix à la semaine :
        <small class="form-text text-muted">
          Vous bénéficiez de cette réduction si la durée de votre location est de 7 jours ou plus.
        </small>
      </li>
      <li class="list-group-item">
        <span class="float-right label label-info label-pill"><%= @listing.pricing.average_monthly.round %> <%= @listing.pricing.currency %></span> Prix au mois :
        <small class="form-text text-muted">
          Vous bénéficiez de cette réduction si la durée de votre location est de 28 jours ou plus.
        </small>
      </li>
      <li class="list-group-item">
        <span class="float-right label label-info label-pill"><%= @listing.pricing.weekend_pricing %> <%= @listing.pricing.currency %></span> Tarif weekend :
        <small class="form-text text-muted">
          Ce prix par jour remplacera le tarif de base si votre location a lieu un samedi et/ou un dimanche.
        </small>
      </li>
      <li class="list-group-item">
        <span class="float-right label label-info label-pill"><%= @listing.pricing.maintenance_fee %> <%= @listing.pricing.currency %></span> Frais de maintenance :
        <small class="form-text text-muted">
          Ces frais s'appliqueront au moment de votre réservation.
        </small>
      </li>
      <li class="list-group-item">
        <span class="float-right label label-info label-pill"><%= @listing.pricing.security_deposit %> <%= @listing.pricing.currency %></span> Caution :
        <small class="form-text text-muted">
          En cas de réclamations par le propriétaire du vélo dans les 14 jours suivant la fin de votre location,<br />vous serez responsables des dommages à hauteur maximale de cette somme.
        </small>
      </li>
    <% end %>
  </ul>
</div>
