<div class="row">
  <div class="col-sm-12">
    <div id="titleSection">
      <% if @listing.user == current_user %>
        <%= link_to "Modifier l'annonce", edit_listing_path(@listing), class: "btn btn-primary float-sm-right" %>
      <% end %>
      <div class="mt-4 mb-4">
        <h1><%= @listing.title %></h1>
        <p class="form-text text-muted"><%= @listing.location.locality %></p>
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-sm-7">
    <div id="photoSection">
      <div class="row">
        <% @listing.bike.photos.take(3).each do |photo| %>
          <div class="col-md-4 mb-4">
            <div class="img-thumbnail">
              <%= image_tag photo.attachment.url(:medium), style: "width:100%" %>
            </div>
          </div>
        <% end %>
      </div>
      <% if @listing.bike.photos.size > 3 %>
        <div class="mb-4">
          <%= link_to "+ Plus" , "#" %>
        </div>
      <% end %>
    </div>
    <div id="descriptionSection">
      <p class="collapse" id="description" aria-expanded="false"><%= @full_sanitizer.sanitize(@listing.description) %></p>
      <a role="button" class="collapsed expandLink" data-toggle="collapse" href="#description" aria-expanded="false" aria-controls="description"></a>
      <div class="mt-4">
        <% if @listing.user == current_user %>
          <a href="#forbiddenAccessModal" data-toggle="modal">Contacter le propriétaire</a>
        <% else %>
          <%= link_to "Contacter le propriétaire", new_listing_message_path(@listing) %>
        <% end %>
      </div>
      <hr>
    </div>
    <div id="equipmentSection">
      <h5 class="mt-4 mb-4">Caractéristiques & équipements</h5>
      <p>Taille : <%= Bike.human_enum_name(:size, @listing.bike.size) %></p>
      <div class="collapse" id="equipments" aria-expanded="false">
        <% @listing.bike.equipments.keys.each do |key| %>
          <% if @listing.bike.equipments[key] %>
            <p><i class="fa fa-bicycle"></i> <%= Bike.human_attribute_name(key) %></p>
          <% end %>
        <% end %>
      </div>
      <a role="button" class="collapsed expandLink" data-toggle="collapse" href="#equipments" aria-expanded="false" aria-controls="equipments"></a>
      <hr>
    </div>
    <div id="availabilitySection">
      <h5 class="mt-4 mb-4">Disponibilité</h5>
      <div id="calendar" data-url='/listings/<%= @listing.id %>/bookings.json'></div>
      <hr>
    </div>
    <div id="commentSection">
      <h5 class="mt-4 mb-4">Commentaires</h5>
      <hr>
    </div>
    <div id="userSection">
      <%= image_tag @listing.user.avatar.url(:thumb), class: "rounded-circle float-sm-right" %>
      <div class="mt-4 mb-4">
        <h5 >Propriétaire : <%= @listing.user.firstname %></h5>
        <p>Membre depuis <%= l(@listing.user.created_at, format: :short) %></p>
      </div>
      <p>Langues : <%= @listing.user.languages.reject(&:empty?).map{ |key| I18n.t(key, scope: :languages) }.compact.join(', ') %></p>
      <% if @listing.user == current_user %>
        <a href="#forbiddenAccessModal" data-toggle="modal">Contacter le propriétaire</a>
      <% else %>
        <%= link_to "Contacter le propriétaire", new_listing_message_path(@listing) %>
      <% end %>
      <hr>
    </div>
  </div>
  <%= render partial: "bookings/form" %>
</div>

<%= render partial: "modals/forbidden_access" %>
