<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col main pt-5 mt-3">
      <%= render 'layouts/messages' %>
      <h1>
        <span>Mes annonces</span>
        <%= link_to "Créer une nouvelle annonce", rent_a_bike_path(:add_description), class: "btn btn-outline-primary float-sm-right" %>
      </h1>
      <hr >
      <% @listings.each_slice(3) do |listings| %>
      <div class="card-deck" style="margin-bottom: 15px">
        <% listings.each do |listing| %>
        <div class="card card-inverse" style="max-width: 22rem;">
          <div class="card-header">
            <%= listing.listed? ? "Publiée" : "Désactivée" %>
          </div>
          <% if listing.bike.present? && listing.bike.photos.present? %>
            <%= image_tag listing.bike.photos.first.attachment.url(:medium), class: "card-img-top" %>
          <% end %>
          <div class="card-body">
            <h4 class="card-title"><%= listing.title %></h4>
            <p class="card-text">
              Taille : <%= listing.bike.size if listing.bike.present? %><br >
              Lumières : <%= listing.bike.present? && listing.bike.lights ? "Oui" : "Non" %>
            </p>
            <%= link_to "Aperçu", listing_path(listing), class: "card-link" %>
            <%= link_to "Modifier", edit_listing_path(listing), class: "card-link" %>
            <%= link_to "#{listing.bookings.size} réservation(s)", listing_bookings_path(listing), class: "card-link" %>
          </div>
        </div>
        <% end %>
      </div>
      <% end %>
    </div>
  </div>
</div>
