<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col main pt-5 mt-3">
      <%= render 'layouts/messages' %>
      <h1>Quelle est la taille de votre vélo ?</h1>
      <hr>
      <div class="row">
        <div class="mt-4 col-sm-8">
          <%= form_for [@listing, @bike], html: { multipart: true } do |f| %>
          <% Bike.sizes.keys.each do |key| %>
          <div class="row">
            <div class="form-check">
              <label class="form-check-label">
                <%= f.radio_button :size, key, class: "form-check-input" %> <%= Bike.human_attribute_name(key) %>
              </label>
            </div>
          </div>
          <% end %>
          <div class="mt-5">
            <%= f.submit "Enregistrer", class: "btn btn-primary" %>
            <%= f.submit "Annuler", class: "btn btn-outline-primary" %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
