<h1><%= @title %></h1>
<hr >

<% if @bookings.present? %>
  <div class="card-columns mb-3">
    <% @bookings.each do |booking| %>
      <div class="card card-inverse">
        <div class="card-header">
          <%= booking.listing.location.locality %>
        </div>
        <%= image_tag booking.listing.bike.photo.url(:medium), class: "card-img-top" %>
        <div class="card-body">
          <h4 class="card-title"><%= booking.listing.title %></h4>
          <p class="card-text">
            Du <%= booking.start_date.strftime("%d/%m/%Y") %> au <%= booking.end_date.strftime("%d/%m/%Y") %>
          </p>
          <%= link_to "Voir le reçu", booking_path(booking), class: "card-link" %>
        </div>
      </div>
    <% end %>
</div>
<% else %>
  <p>Aucune</p>
<% end %>
