<%= form_for [@listing, @booking] do |f| %>
  <%= f.hidden_field :listing_id, value: @listing.id , id: "listingId" %>
  <%= f.hidden_field :total_price, id: "totalPrice" %>
  <label>Durée de la location :</label>
  <small id="passwordHelpBlock" class="form-text text-muted mb-3">
    Indiquez au propriétaire les jours où vous viendrez chercher et déposer le vélo.
  </small>
  <div class="row mb-4">
    <div class="col">
      <div class="form-group">
        <%= f.text_field :start_date, class: "form-control date", id: "startDate", placeholder: "Jour d'arrivée" %>
      </div>
    </div>
    <div class="col">
      <div class="form-group ">
        <%= f.text_field :end_date, class: "form-control date", id: "endDate", placeholder: "Jour de départ" %>
      </div>
    </div>
  </div>
  <div class="form-group mb-5">
      <label>Message :</label>
      <small id="passwordHelpBlock" class="form-text text-muted mb-3">
        Dites-en plus sur qui vous êtes et sur vos différentes expériences en cyclisme.
      </small>
      <%= f.fields_for :messages do |ff| %>
        <%= ff.cktext_area :body, :class => "form-control", ckeditor: { language: 'fr'} %>
      <% end %>
  </div>
  <%= f.fields_for :booking_statuses do |ff| %>
    <%= ff.hidden_field :status, value: "pending" %>
  <% end %>
  <%= f.submit "Confirmer la réservation", class: "btn btn-primary bookingButton" %>
<% end %>
