<%= form_for @booking, :remote => true do |f| %>
  <%= f.hidden_field :listing_id, value: @listing.id , id: "listingId" %>
  <%= f.hidden_field :total_price, id: "totalPrice" %>
  <div class="row">
    <div class="form-group col-sm-7">
      <label>Jour d'arrivée :</label>
      <%= f.text_field :start_date, class: "form-control date", id: "startDate", placeholder: "Date d'arrivée" %>
    </div>
  </div>
  <div class="row">
    <div class="form-group col-sm-7">
      <label>Jour de départ :</label>
      <%= f.text_field :end_date, class: "form-control date", id: "endDate", placeholder: "Date de départ" %>
    </div>
  </div>
  <%= f.submit "Confirmer la réservation", class: "btn btn-primary bookingButton" %>
<% end %>
