<div class="row resume">
  <div class="form-group col-sm-7">
    <label>Résumé :</label>
    <ul class="list-group">
      <li class="list-group-item">Durée de la location : <%= @days.round if @days.present? %> jours</li>
      <li class="list-group-item">Prix par jour : <%= @listing.pricing.base_price %> <%= @listing.pricing.currency %></li>
      <li class="list-group-item">Prix total : <%= @total_price %> <%= @listing.pricing.currency %></li>
    </ul>
  </div>
</div>
