<div class="row resume">
  <div class="form-group col-sm-7">
    <label>Résumé :</label>
    <ul class="list-group">
      <li class="list-group-item">Durée de la location : <%= @days.round if @days.present? %> jours</li>
      <li class="list-group-item">Prix par jour : <%= @listing.pricing.base_price %> <%= @listing.pricing.currency %></li>
      <% if @days  >= 7  && @days < 28 %>
        <li class="list-group-item">Réduction à la semaine : <%= @listing.pricing.average_weekly.round %> %</li>
      <% elsif @days >= 28 %>
        <li class="list-group-item">Réduction au mois : <%= @listing.pricing.average_monthly.round %> %</li>
      <% end %>
      <li class="list-group-item">Frais de maintenance : <%= @listing.pricing.maintenance_fee %> <%= @listing.pricing.currency %></li>
      <li class="list-group-item">Prix total : <%= @total_price %> <%= @listing.pricing.currency %></li>
    </ul>
  </div>
</div>
