<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col main pt-5 mt-3">
      <%= render 'layouts/messages' %>
      <div class="row">
        <div class="col-sm-7">
          <div id="titleSection">
            <h1 class="mt-4 mb-4">Consultez les détails de la location</h1>
            <hr >
          </div>
          <div id="locationDurationSection">
            <h5 class="mt-4 mb-4"><%= @days %> <%= t(:days, count: @days) %> à Bruxelles</h5>
            <div class="row">
              <div class="col-sm-6 mb-3">
                <strong><%= l(@start_date, format: "%d %b") %></strong><br>
                Retrait <%= l(@start_date, format: "%A") %><br>
                A partir de <%= @listing.availability.pickup_time %>
              </div>
              <div class="col-sm-6 mb-3">
                <strong><%= l(@end_date, format: "%d %b") %></strong><br>
                Dépôt <%= l(@end_date, format: "%A") %><br>
                Avant <%= @listing.availability.dropoff_time %>
              </div>
            </div>
            <hr>
          </div>
          <div id="locationInfosSection">
            <h5 class="mt-4 mb-4">Quelques points à retenir</h5>
            <p>Le premier jour de votre location, votre vélo sera disponible à partir de <%= @listing.availability.pickup_time %>.
              Retour avant <%= @listing.availability.dropoff_time %>.</p>
            <hr>
            <p>En cas de réclamation du propriétaire dans les 14 jours suivant la fin de votre location,
              vous serez responsable des dommages à hauteur maximale de <%= @listing.pricing.security_deposit %> <%= @listing.pricing.currency %>.</p>
            <hr>
          </div>
        </div>
        <div class="col-sm-5">
          <div class="border pt-4 pb-4 pl-4 pr-4">
            <% if @listing.bike.photos.present? %>
              <%= image_tag @listing.bike.photos.first.attachment.url(:thumb), class: "float-sm-right" %>
            <% end %>
            <div class="mt-4 mb-4">
              <h5><%= @listing.title %></h5>
              <p><%= @listing.location.locality %></p>
            </div>
            <hr>
            <p><i class="fa fa-calendar"></i> <%= l(@start_date, format: :long) %> -> <%= l(@end_date, format: :long) %></p>
            <hr>
            <%= render partial: "bookings/pricing_details" %>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <div>
            <%= link_to "Continuer", listing_bookings_payment_path(start_date: @start_date, end_date: @end_date),
                class: "btn btn-primary btn-lg mt-5" %>
            <%= link_to "Annuler", web_listing_path(@listing), class: "btn btn-outline-primary btn-lg mt-5" %>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
