<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col main pt-5 mt-3">
      <%= render 'layouts/messages' %>
      <h3>Location de <%= @days.round %> jours à <%= @booking.listing.location.locality %>, <%= @booking.listing.location.country_name %></h3>
      <hr >
      <div class="row" style="margin-bottom: 25px">
        <div class="col">Réservée le <%= @booking.created_at.strftime("%d/%m/%Y") %></div>
        <div class="col text-right"><%= Booking.human_enum_name(:status, @booking.booking_statuses.last.status) %></div>
      </div>
        <div class="row" style="margin-bottom: 15px">
          <div class="col-5">
            <div class="card" style="margin-bottom: 15px">
              <div class="card-body">
                <h5><%= @booking.listing.title %></h5>
                <p>
                  <%= @booking.listing.location.address_line_1 %><br />
                  <%= @booking.listing.location.address_line_2 %><br />
                  <%= @booking.listing.location.country_name %>
                </p>
                <hr >
                <p>
                  Propriétaire : <%= @booking.listing.user.full_name %><br />
                  Numéro de téléphone : <%= @booking.listing.user.phone_number %>
                </p>
              </div>
            </div>
            <div class="card">
              <div class="card-body">
                <h5>Frais</h5>
                <div class="row">
                  <div class="col"><%= @booking_pricing.base_price %> <%= @booking_pricing.currency %> x <%= @days.round %> jours</div>
                  <div class="col text-right"><%= @booking_pricing.base_price * @days %> <%= @booking_pricing.currency %></div>
                </div>
                <% if @days >= 7 && @days < 28 %>
                <div class="row">
                  <div class="col">Réduction hebdomataire</div>
                  <div class="col text-right">- <%= (@booking_pricing.base_price * @days) * (@booking_pricing.weekly_discount / 100) %> <%= @booking_pricing.currency %></div>
                </div>
                <% end %>
                <% if @days >= 28 %>
                <div class="row">
                  <div class="col">Réduction mensuelle</div>
                  <div class="col text-right">- <%= (@booking_pricing.base_price * @days) * (@booking_pricing.monthly_discount / 100) %> <%= @booking_pricing.currency %></div>
                </div>
                <% end %>
                <div class="row">
                  <div class="col">Frais de maintenance</div>
                  <div class="col text-right"><%= @booking_pricing.maintenance_fee %> <%= @booking_pricing.currency %></div>
                </div>
                <hr >
                <div class="row">
                  <div class="col">Prix total</div>
                  <div class="col text-right"><%= @booking.total_price %> <%= @booking_pricing.currency %></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-7">
            <div class="card">
              <div class="card-body">
                <div id="calendar" data-url='/bookings/<%= @booking.id %>.json'></div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
