<div class="container">
  <div class="row row-offcanvas row-offcanvas-left">
    <div class="col main pt-5 mt-3">
      <%= render 'layouts/messages' %>
      <h3>Location de <%= @days.round %> jours à <%= @booking.listing.location.locality %>, <%= @booking.listing.location.country_name %></h3>
      <hr >
      <div class="row" style="margin-bottom: 15px">
        <div class="col">Réservée le <%= @booking.created_at.strftime("%d/%m/%Y")%></div>
        <div class=" col text-right"><%= Booking.human_enum_name(:status, @booking.status) %></div>
      </div>
      <div class="row">
        <div class="card-deck">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title"><%= @booking.listing.title %></h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Frais</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
