<div class="container-fluid">
  <div class="row row-offcanvas row-offcanvas-left">
    <%= render "listings/listing_management_sidebar" %>
    <div class="col main pt-5 mt-3">
      <%= render 'layouts/messages' %>
      <h1>Tarif</h1>
      <hr />
      <%= form_for [@listing, @pricing] do |f| %>
      <div class="row">
        <div class="col-sm-5">
          <label>Devise :</label>
          <%= f.select(:currency, Pricing.all_currencies, {prompt: 'Choisissez'}, {class: "form-control"})%>
        </div>
      </div>
      <br >
      <h3>Prix par nuit</h1>
        <hr />
        <div class="row">
          <div class="col-sm-7">
            <label>Prix de base :</label>
            <%= f.text_field :base_price, class: "form-control" %>
          </div>
        </div>
        <br >
        <h3>Prix en fonction de la durée du séjour</h1>
          <hr />
          <div class="row">
            <div class="col-sm-7">
              <label>Prix à la semaine :</label>
              <%= f.text_field :average_weekly, class: "form-control" %>
            </div>
          </div>
          <br >
          <div class="row">
            <div class="col-sm-7">
              <label>Prix au mois :</label>
              <%= f.text_field :average_monthly, class: "form-control" %>
            </div>
          </div>
          <br >
          <h3>Frais supplémentaires</h1>
            <hr />
            <div class="row">
              <div class="col-sm-7">
                <label>Frais de maintenance :</label>
                <%= f.text_field :maintenance_fee, class: "form-control" %>
              </div>
            </div>
            <br >
            <div class="row">
              <div class="col-sm-7">
                <label>Caution :</label>
                <%= f.text_field :security_deposit, class: "form-control" %>
              </div>
            </div>
            <br >
            <div class="row">
              <div class="col-sm-7">
                <label>Tarif weekend :</label>
                <%= f.text_field :weekend_pricing, class: "form-control" %>
              </div>
            </div>
            <br >
            <div>
              <%= f.submit "Enregistrer", class: "btn btn-primary" %>
            </div>
            <% end %>
          </div>
        </div>
      </div>
