<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
  <%= link_to "Bike Surf", root_path, class: "navbar-brand" %>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Hôte</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Gérer mes annonces", listings_path, class: "dropdown-item" %>
            </div>
          </li>
          <li class="nav-item"><%= link_to "Voyages", "#", class: "nav-link" %></li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Paramètres</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <%= link_to "Modifier le profil", edit_user_registration_path, class: "dropdown-item profile" %>
              <%= link_to "Déconnection", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
            </div>
          </li>
        <% else %>
          <%= link_to "Inscription", new_user_registration_path, class: "dropdown-item" %>
          <!--<li><a href="#" data-toggle="modal" data-target="#signup" class="dropdown-item">Inscription</a></li>-->
          <%= link_to "Connexion", new_user_session_path, class: "dropdown-item" %>
          <!--<li><a href="#" data-toggle="modal" data-target="#login" class="dropdown-item">Connection</a></li>-->
        <% end %>
    </ul>

    <%= form_tag search_path, method: "get", class: "form-inline my-2 my-lg-0" do %>
      <%= text_field_tag "city", nil, {class: "form-control mr-sm-2", placeholder: "Partout"} %>
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><i class="fa fa-search" aria-hidden="true"></i></button>
    <% end %>
  </div>
</nav>
